#everything { 
 padding: 20px;
 margin: 20px;
 font-family: "Times New Roman", Times, serif;
 }
 
 #header {
  background-color: #b6cccc;
  height:40px;
  top: 0;
  margin: -10px;
}

 #footer {
  background-color: #b6cccc;
  height:80px;
  bottom: 0;
  margin: -20px;
}

/* Generic column */
.column {
  float: left;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    margin-bottom: -5px;
      margin-top: -5px;
  }
} 

/* 50/50 column */
.left-50 {
  width: 50%;
  text-align: left;
}

.right-50 {
  width: 50%;
   text-align: right;
}

/* 75/25 column */
.left-75 {
  width: 75%;
  text-align: left;
}

.right-25 {
  width: 25%;
   text-align: right;
}

/* 37.5 columns */
.left-37_5 {
  width: 37.5%;
}

.middle-37_5 {
  width: 37.5%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Generic row */
.row{
  margin-bottom: -10px;
  margin-top: -10px;
}

/* List style with no bullet points */
.nobull {
  list-style-type: none;
 }
 
 
  /* Text styles */
.emphasized { font-style: italic;}

.courses {
  margin-top: -5px;}

h1 {color: black; margin-top:-5px;}
h2 {color: black; margin-top: -5px;}
h3 {color: #008B8B; margin-top: 25px}
hr {border: 1px solid #008B8B;
    margin-top: -10px;
}


/* unvisited link */
a:link {
  color: #008B8B;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #004B4B;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #008B8B;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #00468B;
  text-decoration: underline;
}

.italics{
  padding-left: 55px;
  padding-top: 5px;
  font-style: italic;
}